.detail{
    padding: 1rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.detail img{
    width: 100%;
}

.name{
    text-align: center;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid #000080;
    background-color: rgb(210, 207, 252);
}

.details{
    text-align: left;
}

.info{
    padding: 1rem;
    background-color: white;
}

.editable{
    display: flex;
    justify-content: space-between;
}

.editable button, .name button, .image button {
    width: 10rem;
    height: 2rem;
    text-align: center;
    margin: 1rem;
    font: inherit;
    cursor: pointer;
    color: #000080;
    border: 1px solid #000080;
    background-color: transparent;
    border-radius: 4px;
  }

  .name button{
    background-color: whitesmoke;
  }  
  
  .editable button:hover,
  .editable button:active,
  .name button:hover,
  .name button:active,
  .image button:hover,
  .image button:active{
    background-color: #c1b1f8;
  }

.editable input, .name input, .image input {
width: 10rem;
height: 2rem;
text-align: center;
margin: 1rem;
font: inherit;
cursor: pointer;
color: #000080;
border: 1px solid #000080;
background-color: transparent;
border-radius: 4px;
}

.image input{
    width: 30rem;
}

.name input{
    background-color: whitesmoke;
  }

.submit{
    display: flex;
    justify-content: center;
}

.submit input {
width: 20rem;
height: 2rem;
text-align: center;
margin: 1rem;
font: inherit;
cursor: pointer;
color: #017430;
border: 1px solid #017430;
background-color: transparent;
border-radius: 4px;
}

.submit input:hover,
.submit input:active{
background-color: #bbddc8;
}

.editInfo{
    display: flex;
    justify-content: center;
}

.editInfo p{
    width: 40rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid #770202;
    background-color: rgb(252, 207, 207);
    margin: 1rem;
}

.remove{
    display: flex;
    justify-content: around;
}

.remove button{
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin: 1rem;
    font: inherit;
    cursor: pointer;
    color: #800000;
    border: 1px solid #800000;
    background-color: transparent;
    border-radius: 4px;
  }
  
  .remove button:hover,
  .remove button:active{
    background-color: #f1bbbb;
  }